/*CSS normal = desktop version*/
/*CSS under media queries = responsive and mobile version*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 2%;
    
}
a{
    text-decoration: none;
}
header a{
    
    color: gray;
}
nav ul{
    list-style: none;
    display: flex;
    float: right;
    margin-top: 15px;
    justify-content: space-around;
    width: 500px;
        
}
/*cacher le menu mobile*/
.hide{
    display: none;
}
/*responsive élément header*/
@media screen and (max-width : 640px) {
     a{
         font-size: 20px;
         color: black;

     }
        
     .menu{
        display: none;
        
    }
    .subscribe{
        margin-left: 70%;
        
    }
    .hide {
        display: flex;
        justify-content: space-evenly; 
        position: absolute;
        text-decoration: none;
        width: 300px;
        margin-top: 50px;    
        
    }
    .space{
        border-bottom: 2px solid #0065FC;/* a changer avec une load bar*/
        margin-bottom: 20px;
        
    }
    .responsiveMenuActive a{
        color: #0065FC;
        font-weight: 500;
    }
    h1{
        font-size: 26px;
    }
    p{
        font-size: 18px;
    }
}


/*Header*/
.searchbar{
    display: flex;
}
.logoAndSubscribe img{
    width: 100px;
    height: 50px;
   
    position: absolute;
}
.space{
    height: 80px;
    
}
.active a{
    font-weight: 600;
    color:#0065FC ;
    border-top: 2px solid #0065FC;
    padding-top: 43px;  
    
}
.subscribe a{
    font-weight: bolder;
    color:#0065FC ;
}
/*search bar*/
.loupe{
    display: none;
}
.marker{
    background-color: #F2F2F2;
    padding: 10px;
    border: none;
    border-radius: 8px 0 0 8px;
    width: 3%;

}

.searchwordbtn{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: white;
    
}
.searchcontrol{
    background-color: #0065FC;
    text-align: center;
    padding: 10px;
    border-radius: 0 8px 8px 0px;
    border: none;
}
#search{
    padding: 10px;
    border: solid 1px #F2F2F2;
    width: 30%;
    
    
}
#search::placeholder{
    color: black;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}

@media screen and (max-width : 640px) {
    .loupe{
        display: unset;
        color: white;
    }
    .searchwordbtn{
        display: none;
    }
    .marker{
        width: 12%;
    }
    #search{
        width: 90%;
        border-radius: 0 10px 10px 0;
        
    }
    
    .searchcontrol{
        border-radius: 10px 10px 10px 10px;
        width: 10%;
        position: absolute;
        z-index: 1;
        margin-left: 86%;
        height: 36px;
       
        
       
        
    }
    

}
/*main*/
/*Filters*/
/* desktop filters align*/
@media only screen and (min-width : 700px) {
    .filters{
        display: flex;
        justify-content: space-between;

    }
    
    

}
.filters{
    color: black;
   
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    width: 70%;
    
}
.btn_filters{
    border: rgba(128, 128, 128, 0.336) solid ;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    padding:  10px ;
    font-weight: bolder;
    
    
    
    

}
.icos{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    padding: 15px;
    position: absolute;
    
    
     
}
.marge{
    width: 17px;
}
.margeicofami{
    width: 10px;
}
.margeicoroma{
    width: 8px;
}
.margeicoanim{
    width: 10px;
}
.eco, .fami,.roma,.anim{
    display: flex;
}
.tricksico{
   color: white; 
}
.filterstitle{
    margin-top: 15px;
}
/*p info*/
.icoinfo{
    border-radius: 100%;
    text-align: center;
    border: solid #F2F2F2;
    height: 30px;
    width: 30px;
    color: #0065FC;
    padding-top: 2px;
}
.information{
    display: flex;
    
    
}
.information p{
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 500;
    
}
/* Filters Responsive mobile */
@media only screen and (max-width: 640px) {
    .filterstitle{
        margin-bottom: 10px;
    }
    .eco{
        position: absolute;
    }
    .fami{
        margin-left: 180px;
    }
    .roma{
        margin-top: 10px;
    }
    .anim{
        margin-top: 10px;
    }
    .tricksico{
        margin-left: 10px;
    }
    .information p{
        font-size: 14px;
    }


}
/*grid places*/

h2{
    padding: 20px;
}
h3{
    font-size: 12px;
}
.grid-container {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "Cannebiere port mouette"
      "mer panier amina";
  }
  section .card {
      background-color: white;
      border-radius: 20px;
    
  }
  main a {
      color: black;
  }
  .card{
      width: 190px;
  }
  .card-body{
      padding: 5px;
      
      
  }
  .card-body img{
     width: 180px;
     border-radius: 20px 20px 0px 0px;
     max-height: 120px;
     
  }
  .starsfull{
      color:#0065FC ;
  }
  .starsempty{
      color: #F2F2F2;
  }
  .panierimg{
      height: 120px;
  }
  
  .showmemore{
      padding: 20px;
  }
 
  
 
  
  .Cannebiere { grid-area: Cannebiere;
padding: 20px; }
  
  .port { grid-area: port;padding: 20px; }
  
  .mouette { grid-area: mouette;padding: 20px; }
  
  .mer { grid-area: mer;padding: 20px; }
  
  .panier { grid-area: panier;padding: 20px; }
  
  .amina { grid-area: amina;padding: 20px; }
  
  .places{
      
      background-color: #F2F2F2;
      border-radius: 10px;
      width: 60%;
      
  }
  /*aside*/
  .aside{
      background-color: #F2F2F2;
      border-radius: 10px;
      width: 35%;
      
  }
  /*grid aside*/
  aside{
    position: absolute;
    margin-left: 60%;
}
aside h2{
    display: flex;
    justify-content: space-between;
}
  .grid-aside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "soleil"
      "coeur"
      "bleu";
  }
  
  .soleil {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ".";
    grid-area: soleil;
  }
  
  .coeur { grid-area: coeur; }
  
  .bleu { grid-area: bleu; }

  .card-aside{
      padding: 20px 18px 18px 20px;
      max-width: 440px;
      

      
  }
  .card-img{
      display: flex;
      background-color: white;
      border-radius: 10px;
      height: 140px;
  }
  .card-img img{
      padding: 5px;
      border-radius: 10px 0 0 10px;
      width: 180px;
      height: 140px;
      
      
  }
  .aside-title{
    padding: 20px;
  }
  .aside-title p{
      margin-top: 10px;
  }
  .stars-suggestion{
    display: inline-flex;
     position: absolute;
     padding-left: 45%;
     padding-top: 25%;
      
  }
  
  
/*footer*/