*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 2%;
    
}
a{
    text-decoration: none;
    color: gray;
}
nav ul{
    list-style: none;
    display: flex;
    float: right;
    margin-top: 15px;
    justify-content: space-around;
    width: 500px;
        
}
/*cacher le menu mobile*/
.hide{
    display: none;
}
/*responsive élément header*/
@media screen and (max-width : 640px) {
     a{
         font-size: 20px;
         color: black;

     }
        
     .menu{
        display: none;
        
    }
    .subscribe{
        margin-left: 70%;
        
    }
    .hide {
        display: flex;
        justify-content: space-evenly; 
        position: absolute;
        text-decoration: none;
        width: 300px;
        margin-top: 50px;    
        
    }
    .space{
        border-bottom: 2px solid #0065FC;/* a changer avec une load bar*/
        margin-bottom: 20px;
        
    }
    .responsiveMenuActive a{
        color: #0065FC;
        font-weight: 500;
    }
    h1{
        font-size: 26px;
    }
    p{
        font-size: 18px;
    }
}


/*Header*/
.searchbar{
    display: flex;
}
.logoAndSubscribe img{
    width: 100px;
    height: 50px;
   
    position: absolute;
}
.space{
    height: 80px;
    
}
.active a{
    font-weight: 600;
    color:#0065FC ;
    border-top: 2px solid #0065FC;
    padding-top: 43px;  
    
}
.subscribe a{
    font-weight: bolder;
    color:#0065FC ;
}
/*search bar*/

.marker{
    background-color: #F2F2F2;
    padding: 10px;
    border: none;
    border-radius: 8px 0 0 8px;
    width: 3%;

}
.loupe{
    display: none;
}
.searchwordbtn{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: white;
    
}
.searchcontrol{
    background-color: #0065FC;
    text-align: center;
    padding: 10px;
    border-radius: 0 8px 8px 0px;
    border: none;
}
#search{
    padding: 10px;
    border: solid 1px #F2F2F2;
    width: 30%;
    
    
}
@media screen and (max-width : 640px) {
    .loupe{
        display: unset;
        color: white;
    }
    .searchwordbtn{
        display: none;
    }
    .marker{
        width: 12%;
    }
    #search{
        width: 90%;
        border-radius: 0 10px 10px 0;
        
    }
    #search::placeholder{
        color: black;
        font-weight: bolder;
        font-family: 'Raleway', sans-serif;
    }
    .searchcontrol{
        border-radius: 10px 10px 10px 10px;
        width: 10%;
        position: absolute;
        z-index: 1;
        margin-left: 86%;
        height: 36px;
       
        
       
        
    }
    

}
/*main*/

/*footer*/